.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  max-width: 400px;
  width: 80%;
  margin: 15px;
}

@font-face {
  font-family: 'The Bold Font';
  src: url('../assets/THE-BOLD-FONT-FREE-VERSION-2023.ttf') format('truetype');
}

.title {
  font-family: 'The Bold Font', sans-serif;
  font-size: 1rem;
}

.year {
  font-family: 'The Bold Font', sans-serif;
  font-size: 0.5rem;
}


.descriptionText {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-top: 0;
}
