.pagination {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pagination button {
    background-color: transparent;
    border: none;
   
  }
  
  
  .pagination .icon {
    width: 24px; 
    height: 24px;
    margin: 0 10px; 
    cursor: pointer
  }

   

