
.movieCard {
  list-style: none;
}

.moviePoster {
  border: 0.1px solid #313131;
  background-color: darkgray;
  font-family: "the bold font";
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  cursor: pointer
}

.moviePoster:hover{
  opacity: 0.8;
}


.movieTitle {
  font-family: 'Outfit', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(209, 204, 204, 0.95);
  margin-top: 1%;
  margin-bottom: 0%;
  padding-left: 20px;
}

.movieYear {
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  color: rgba(239, 236, 236, 0.5);
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 20px;
}
